@allWidth:750;
.s(@sx,@x){
    @{sx}:@x/@allWidth*100vw;
}

.chart_head {
  .s(height,80);
  border-bottom: 1px solid #ededed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  >text {
    padding: 0 2px;
    line-height: 3.2;
    .s(font-size,24);
  }
  >text:nth-of-type(2) {
    margin:0 154/@allWidth*100vw;
  }
}

.chart_head2 {
  .s(height,96);
  border-bottom: 1px solid #ededed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  >text {
    padding: 0 2px;
    line-height: 5;
    .s(font-size,18);
  }
  >text:nth-of-type(2) {
    margin:0 102/@allWidth*100vw;
  }
}

.chart {
  .s(height,430);
  border:1px solid #ededed;
}