@allWidth:750;
.s(@sx,@x){
    @{sx}:@x/@allWidth*100vw;
}

.chart_head {
  .s(height,80);
  border-bottom: 1px solid #ededed;
  .s(font-size,24);
  display: flex;
  align-items: center;
  .s(font-size,30);
  >picker {
    margin:0 20px;
    padding: 0 2px;
    line-height: 3.2;
  }
  .select_time {
    border:1px solid #6dabf1;
    border-radius:10px;
    overflow: hidden;
    background-color: #6dabf1;
    box-shadow: 0 0 2px #5180b4;
    margin-left:20/@allWidth*100vw;
    >text {
      color:#fff;
      padding:5/@allWidth*100vw 15/@allWidth*100vw;
      display: inline-block;
    }
    .selected {
      background-color: #fff;
      color:#68a1df;
      box-shadow: 0 0 2px #5180b4 inset;
    }
  }
}

.chart_head2 {
  .s(height,96);
  border-bottom: 1px solid #ededed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  >text {
    padding: 0 10/@allWidth*100vw;
    line-height: 5;
    .s(font-size,18);
    margin:0 102/@allWidth*100vw;
  }
  >text:after {

  }
}

.chart {
  width:100vw;
  .s(height,430);
  border:1px solid #ededed;
}