@allWidth:750;
.s(@sx,@x){
    @{sx}:@x/@allWidth*100vw;
}

.user {
  min-height:100vh;
  background-color:#ededed;
}

.user_head_wrap {
  .s(height,400);
  background:linear-gradient(to top right,#82b7ee,#5796dd);
  overflow: hidden;
  #line_canvas {
    width:100%;
    height:100%;
    z-index: 1;
  }
  .user_head {
    .s(margin-top,120);
    text-align: center;
    position:relative;
    >image {
      .s(width,154);
      .s(height,154);
      border-radius:50%;
      border:2px solid #fff;
      margin:0 auto;
      box-shadow: 2px 2px 8px rgba(82, 82, 82, 0.8);
    }
    .username {
      display: block;
      color:#fff;
      .s(font-size,30);
      letter-spacing: 2px;
    }
    .designation {
      position:absolute;
      .s(font-size,18);
      .s(top,170);
      .s(right,160);
      color:#a67d34;
      background: linear-gradient(#f9f297,#dec436);
      border-radius:10px;
      padding:1px 10px;
      letter-spacing: 2px;
      box-shadow: 1px 1px 5px rgba(0,0,0,0.08);
    }
  }
}

.user_bill_wrap {
  .s(height,150);
  background-color: #fff;
  .s(font-size,24);
  display: flex;
  >view {
    flex:1;
    flex-direction: column;
  }
  .user_bill_left {
    border-right:1px solid rgba(226,226,226,0.8);
  }
  .user_bill_right {
    border-left:1px solid rgba(226,226,226,0.8);
  }
}

.user_func_wrap {
  .s(margin-top,20);
  .user_func {
    .s(height,100);
    background-color: #fff;
    margin-bottom: 2px;
    .s(font-size,30);
    image {
      .s(width,38);
      .s(height,38);
      margin:0 28/@allWidth*100vw;
    }
  }
}