@allWidth:750;
.s(@sx,@x){
    @{sx}:@x/@allWidth*100vw;
}

.set_delay(@c){
  .images image:nth-of-type(@{c}){
    animation-delay: @c*0.1s;
  }
}
.achieve {
  min-width:100vw;
  min-height:100vh;
  padding-bottom: 45/@allWidth*100vw;
  background-color: #ededed;
}

.achieve_head {
  .s(height,300);
  image {
    width:100%;
    height:100%;
  }
}

.title {
  .s(height,40);
  box-shadow: 0 0 5px #71746c;
  .s(font-size,18);
  line-height: 2;
  color:#333;
  .s(padding-left,42);
  letter-spacing: 2px;
}

.images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .s(margin-bottom,60);
  image {
    opacity: 0;
    margin:47/@allWidth*100vw 40/@allWidth*100vw 0;
    animation:0.3s scale_show forwards;
  }
}
.achieve_con:nth-of-type(1) .images{
  image {
    .s(width,144);
    .s(height,130);
  }
}
.achieve_con:nth-of-type(2) .images{
  image {
    .s(width,144);
    .s(height,112);
  }
}

.loop(@i) when (@i < 7){
  .set_delay(@i);
  .loop(@i+1);
}
.loop(1);

.show_badge {
  position: fixed;
  top:0;
  left:0;
  width:100vw;;
  height:100vh;
  background-color: rgba(0,0,0,0.2);
  .box {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    width:600rpx;
    height:900rpx;
    text-align: center;
    box-shadow: 1px 1px 10px #b9b9b9;
  }
  .save {
    position:fixed;
    bottom:25px;
    left:0;
    right:0;
    margin:0 auto;
    width:100px;
    border-radius:0;
    box-shadow: 0 0 5px #494949;
    background-color: #4c91df;
    color:#fff;
  }
}