@allWidth:750;
.s(@sx,@x){
  @{sx}:@x/@allWidth*100vw;
}
.bill {
  min-width:100vw;
  min-height:100vh;
  background-color: #ededed;
}
.bill_select {
  .s(height,80);
  background-color: #fff;
  font-size:15px;
  position:relative;
}

.bill_total {
  .s(height,98);
  margin-top:1px;
  background-color: #fff;
  .s(font-size,30);
  letter-spacing:2px;
  padding:0 30/@allWidth*100vw;
  display:flex;
  align-items: center;
  >.wrap {
    flex:1;
    >text {
      .s(margin-left,40);
    }
  }
}

.bill_detail_wrap {
  margin:10px 18/@allWidth*100vw;
  .bill_detail {
    border: 1px solid #d4d4d4;
    .s(height,98);
    margin:1px 0;
    border-radius:4px;
  }
}
.nav_bg {
  font-size:15px;
  position:relative;
}
.t_select {
  .s(width,122);
  position:absolute;
  .s(left,20);
  .s(top,18);
  overflow: hidden;
  transition:0.2s height;
  color:#fff;
  .s(font-size,24);
  >text {
    .s(height,46);
    border-radius:20px;
    display:block;
    background-color: #d84642;
    text-align:center;
    line-height:1.8;
  }
}
.time_picker {
  text-align:center;
}